<link rel="stylesheet" href="mainarea.component.css">
<section class="mainarea">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-12">
                <div class="box2" data-aos="fade-right" data-aos-duration="2500"
                data-aos-anchor-placement="bottom-bottom">
                    <h1>77 <sup>th</sup> Independence Day Celebration</h1>
                    <p>15 <sup>th</sup> August 2023</p>
                    <br>
                    <a href="">View More</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
