
<section class="contents">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Indian Culture</h2>
                <!-- <hr> -->
                <br>
            </div>
        </div>
        <div class="row">
            @for (content of contents; track $index) {
                <div class="col-md-3 col-12">
                    <div class="card" style="width: 18rem;">
                        <img src="{{content.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{content.head}}</h5>
                          <a href="{{content.link}}" class="btn btn-primary">View More</a>
                        </div>
                      </div>
                    </div>
            }
        </div>
    </div>
</section>

