
<section class="celebration">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>National Celebrations</h2>
                <!-- <hr> -->
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 box">
                <div class="box4">
                    <h1>77 <sup>th</sup> Independence Day 
                        <br> Celebration</h1>
                    <p>15 <sup>th</sup>August 2023</p>
                    <img src="https://knowindia.india.gov.in/assets/images/img-micro-1.png" alt="Photo">
                    <br><br>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <div class="box44">
                                <a href="">
                                    <img src="https://knowindia.india.gov.in/assets/images/img-micro-presidents-address-id.png" alt="">
                                    <h5>President</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="box44">
                                <a href="">
                                    <img src="https://knowindia.india.gov.in/assets/images/pm.png" alt="">
                                    <h5>Prime Minister</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="box44">
                                <a href="">
                                    <img src="https://knowindia.india.gov.in/assets/images/img-micro-photo-gallery.png" alt="">
                                    <h5>Photo Gallery</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 box">
                <div class="box4">
                    <h1>74 <sup>th</sup> Republic Day 
                        <br> Celebration</h1>
                    <p>26<sup>th</sup>January 2023</p>
                    <img src="https://knowindia.india.gov.in/assets/images/img-micro-2.png" alt="Photo">
                    <br><br>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <div class="box44">
                                <a href="">
                                    <img src="https://knowindia.india.gov.in/assets/images/img-micro-republic-of-india.png" alt="">
                                    <h5>Republic Day</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="box44">
                                <a href="">
                                    <img src="https://knowindia.india.gov.in/assets/images/img-micro-celebrations.png" alt="">
                                    <h5>Photo Gallery</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="box44">
                                <a href="">
                                    <img src="https://knowindia.india.gov.in/assets/images/img-micro-awards-recipients.png" alt="">
                                    <h5>Indian Awards</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>