<link rel="stylesheet" href="listarea.component.css">
<section class="list">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="box3 span3 wow rollIn center">
                    <a href="profile.html">
                        <img src="https://knowindia.india.gov.in/assets/images/img-prof.png" alt="">
                        <h5>Profile</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div data-wow-iteration="5" data-wow-duration="0.15s" class="box3 span3 wow pulse">
                    <a href="identity.html">
                        <img src="https://knowindia.india.gov.in/assets/images/img-identity.png" alt="">
                        <h5>National Identity Elements</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="box3 span3 wow bounceInRight center">
                    <a href="culture.html">
                        <img src="	https://knowindia.india.gov.in/assets/images/img-states.png" alt="">
                        <h5>Indian Culture</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="box3">
                    <a href="districts.html">
                        <img src="https://knowindia.india.gov.in/assets/images/img-dist.png" alt="">
                        <h5>Districts</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="box3">
                    <a href="india.html">
                        <img src="https://knowindia.india.gov.in/assets/images/img-mypride.png" alt="">
                        <h5>My India My Pride</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="box3">
                    <a href="gen_info.html">
                        <img src="https://knowindia.india.gov.in/assets/images/img-gen-info.png" alt="">
                        <h5>General Information</h5>
                    </a>
                </div>
            </div>
    </div>
    </div>
</section>
